
body {
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #292C36;
}

a:link, a:visited, a:active, a:hover {
	color: #ffffff;
	text-decoration: none;
}

a:active, a:hover {
	color: #fafafa;
	text-decoration: underline;
}

